<%#
Copyright 2008-2013 Concur Technologies, Inc.
Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title + " - AppDirect" %></title>
    <link rel="shortcut icon" href="https://d6r6ulbtqyuv7.cloudfront.net/wicket/resource/com.appdirect.wicket.resources.Resource/spa/themes/appdirectapp/images/favicon-ver-E524860B6D15077DC12CB7437023988E.ico" type="image/x-icon">
    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <!-- <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>  
    </a>
     -->
    
     <header id="header">
      <div class="primary-header">
        <ul class="primary-header-left-ul">
            <li class="primary-header-left-ul-li logo-li">
               <a href="http://help.appdirect.com/"> 
               <img src="images/appdirect-mark.png" class="appdirect_dark_logo">
               <img src="images/appdirect-mark-light.png" class="appdirect_light_logo display_none">
               </a>
            </li>
            <li id="hide_subnav" class="primary-header-left-ul-li subnav-li both-side-border"><a id="userguidelink_id" class="header-links userguidelink">User Guides <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="subnav display_none">
                        <li><a class="subnav-links" href="/appmarket/appmarket.html">AppMarket</a>
                        </li>
                        <li><a class="subnav-links" href="/appreseller/appreseller.html">AppReseller</a>
                        </li>
                        <li><a class="subnav-links" href="/appbilling/appbilling.html">AppBilling</a>
                        </li>
                        <li><a class="subnav-links" href="/appdistrib/appdistribution.html">AppDistribution</a>
                        </li>
                  </ul>
            </li>
        </ul>
        <div class="header-right-div">
          <a href="javascript:void(0)" id="hide_menu">&#9776;</a></li>
          <ul class="primary-header-right-ul display_none_mobile_view">
               <li class="primary-header-right-ul-li both-side-border top-down-border training-li">
             <a class="header-links training" href="/training/training.html">Training</a>
            </li>

            <li class="primary-header-right-ul-li both-side-border  top-down-border helpsupport-li">
               <a class="header-links helpsupport" href="https://docs.appdirect.com/help-support/overview">Help & Support</a>
            </li>
            <li class="primary-header-right-ul-li right-side-border">
               <a class="header-links login" href="https://docs.appdirect.com/login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <div class="appmarket_secondary_nav">
            <div class="secondary_nav" id="appmarket_second_nav">
                <div class="secondary_nav_bold_link">
                    APPMARKET
                    <span class="black">&gt;</span>
                </div>
                <div class="secondary_nav_links">
                    <a href="/appmarket/Default.htm#GettingStarted/gsg-intro.htm%3FTocPath%3DGetting%2520Started%7C_____0">Getting Started</a>
                </div>
                <div class="secondary_nav_links">
                    <a href="/appmarket/Default.htm#AppManager/AM-Overview-Main.html%3FTocPath%3DApp%2520Manager%7C_____0">App Manager</a>
                </div>
                <div class="secondary_nav_links">
                    <a href="/appmarket/Default.htm#MarketplaceManager/MMgrOverview.htm%3FTocPath%3DMarketplace%2520Manager%7C_____0">Marketplace Manager</a>
                </div>
                <div class="secondary_nav_links">
                    <a href="/appmarket/Default.htm#DevCenter/dev-ctr-overview.htm%3FTocPath%3DDeveloper%2520Center%7C_____0">Developer Center</a>
                </div>
                <div class="secondary_nav_links">
                    <a href="/appmarket/Default.htm#Integration/integ-intro.htm%3FTocPath%3DIntegration%7C_____0">Integration</a>           
                </div>
                <div class="secondary_nav_links api_reference">
                    <a href="/api/appmarket.html">API Reference</a>
                </div>
            </div>
    </div>

    <div class="appbilling_secondary_nav">
        <div class="secondary_nav" id="appbilling_second_nav">
            <div class="secondary_nav_bold_link">
                APPBILLING
                <span class="black">&gt;</span>
            </div>
            <div class="secondary_nav_links">
                <a href="/appbilling/Default.htm#Dev-DistributionGuide/Billing-Overview-Welcome.html%3FTocPath%3DGetting%2520Started%7C_____0">Getting Started</a>
            </div>
            <div class="secondary_nav_links">
               <a href="/appbilling/Default.htm#AppBilling/event-notif-intro.htm%3FTocPath%3DEvent%2520notifications%7C_____0">Event notifications</a>
            </div>
            <div class="secondary_nav_links">
               <a href="/appbilling/Default.htm#AppBilling/bill-sec-intro.htm%3FTocPath%3DSecurity%7C_____0">Security</a>
            </div>
            <div class="secondary_nav_links">
                <a href="/appbilling/Default.htm#Dev-DistributionGuide/Bill-HCO-Ov.html%3FTocPath%3DHosted%2520checkout%2520guide%7C_____0">Hosted checkout guide</a>
            </div>
            <div class="secondary_nav_links">
                <a href="/appbilling/Default.htm#AppBilling/bag-intro.htm%3FTocPath%3DBilling%2520API%2520guide%7C_____0">Billing API guide</a>        
            </div>
            <div class="secondary_nav_links">
                <a href="/appbilling/Default.htm#AppBilling/user-sync-api-overview.html%3FTocPath%3DUser%2520Sync%2520API%7C_____0">User Sync API</a>        
            </div>
            <div class="secondary_nav_links api_reference">
                <a href="/api/appbilling.html">API Reference</a>
            </div>
        </div>
    </div>

     <div class="appinsights_secondary_nav">
        <div class="secondary_nav" id="appinsights_second_nav">
            <div class="secondary_nav_bold_link">
                APPINSIGHTS
                <span class="black">&gt;</span>
            </div>
            <div class="secondary_nav_links api_reference">
                <a href="/api/appinsights.html">API Reference</a>
            </div>
        </div>
    </div>

    <div class="appwise_secondary_nav">
        <div class="secondary_nav" id="appwise_second_nav">
            <div class="secondary_nav_bold_link">
                APPWISE
                <span class="black">&gt;</span>
            </div>
            <div class="secondary_nav_links api_reference">
                <a href="/api/appwise.html">API Reference</a>
            </div>
        </div>
    </div>

    <a href="/" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span> 
    </a>
    <div class="toc-wrapper">
      <div class ="logo"></div>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="%" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="%" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
            <input type="text" class="search input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
         <li class="nav-<%= h1[:id] %>">
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:content] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h1[:content] %>"><%= h2[:content] %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="%" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="%" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <script src="https://use.fontawesome.com/a52c22cf39.js"></script>
  </body>
</html>
